:root {
    --azul-claro: #579BB1;
    --bege: #E1D7C6;
    --cinza-claro: #ECE8DD;
    --creme: #F8F4EA;
}

body {
    height: 100vh;
    font-family: Montserrat, 'sans-serif';
}

header {
    background-color: var(--azul-claro);
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    color: var(--cinza-claro);
    margin: 1rem 0;
}

.sub-titulo {
    color: var(--creme);
}

main {
    background-color: var(--bege);
    height: 75vh;
    padding: .75rem .5rem;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--azul-claro);
    margin: .3rem 0;
}

input {
    height: 1.2rem;
    margin-bottom: 1rem;
}

select {
    height: 1.52rem;
    margin-bottom: 2rem;
}

.btn {
    height: 2.5rem;
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
    font-size: 1.15rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: var(--azul-claro);
    border-radius: 5px;
    color: var(--azul-claro);
    background-color: transparent;
}

.btn:active {
    transform: scale(1.03);
}

h2 {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--azul-claro);
    margin: 2rem 0 1rem;
}

.resultados {
    margin-bottom: 1rem;
}
